using Logging


{{- if eq .chezmoi.os "darwin" }}
    ENV["EDITOR"] = "mvim"
{{- else }}  
    ENV["EDITOR"] = "gvim"
{{- end }}  
const PLOTS_DEFAULTS = Dict(:theme => :wong2)

const ISDEBUG = Ref(false)
global_logger(ConsoleLogger(stderr,Logging.Info, show_limited = false))
function DEBUG()
    global ISDEBUG
    if ISDEBUG[]
        global_logger(ConsoleLogger(stderr,Logging.Info, show_limited = false))
        ISDEBUG[] = false
        @info "Exit debug mode"
        return nothing
    end
    global_logger(ConsoleLogger(stderr,Logging.Debug, show_limited = false))
    @info "Enter debug mode"
    ISDEBUG[] = true
    return nothing
end # function
